@(elements: views.html.helper.FieldElements)

@import play.api.i18n._
@import views.html.helper._

@**************************************************
* Generate input according twitter bootsrap rules *
**************************************************@

<div class="control-group @if(elements.hasErrors) {error} @if(elements.args.contains('baseClass)){@elements.args.get('baseClass)}">
        <label for="@elements.id" class="control-label">@Html(elements.label.toString)</label>
        <div class="controls">
                @elements.input
                @if(elements.args.contains('rightLabel)){<span class="rightLabel">@elements.args.get('rightLabel)</span>}
                <span class="help-inline">@elements.errors(elements.lang).mkString(", ")</span>                                         
        </div>
</div>
