@main("Home") {
<head>
<nav>
	<ul>
		<li><a href="#">DRINK</a></li>
		<li><a href="@controllers.routes.UserPassController.userPasses()" target='sample'">PASS PURCHASES</a></li>
	    <li><a href="@controllers.routes.EventController.createEvent()" target='sample' >EVENTS</a></li>
		<li><a href="@controllers.routes.OfferController.createOffer()" target='sample' >OFFERS</a></li>
		<li><a href="@controllers.routes.UserController.newUserRegistration()" target='sample' >REGISTER</a></li>
		<li><a href="@controllers.routes.UserOfferController.userOffers()" target='sample' >USER-OFFERS</a></li>
		<li><a href="@controllers.routes.AdvertisementController.addNewAdvertisement()" target='sample' >ADVERTISEMENT</a></li>
</ul>
</nav>
</head>
<div align="center">
<iframe name='sample' width="1000" height="1000" scrolling="no" frameBorder="0" ></iframe>
</div>
}